In [1]:
import pandas as pd

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

# Importing CSV file

In [2]:
df=pd.read_csv(r"C:\Users\joe\Downloads\cars.csv")
df.head(10)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

In [4]:
x=df[['Volume','Weight']] #independent variable
y=df['CO2']               #dependent variable
print(x)
print(y)

    Volume  Weight
0     1000     790
1     1200    1160
2     1000     929
3      900     865
4     1500    1140
5     1000     929
6     1400    1109
7     1500    1365
8     1500    1112
9     1600    1150
10    1100     980
11    1300     990
12    1000    1112
13    1600    1252
14    1600    1326
15    1600    1330
16    1600    1365
17    2200    1280
18    1600    1119
19    2000    1328
20    1600    1584
21    2000    1428
22    2100    1365
23    1600    1415
24    2000    1415
25    1500    1465
26    2000    1490
27    2000    1725
28    1600    1523
29    2000    1705
30    2100    1605
31    2000    1746
32    1600    1235
33    1600    1390
34    1600    1405
35    2500    1395
0      99
1      95
2      95
3      90
4     105
5     105
6      90
7      92
8      98
9      99
10     99
11    101
12     99
13     94
14     97
15     97
16     99
17    104
18    104
19    105
20     94
21     99
22     99
23     99
24     99
25    102
26    104
27    114
28    109
29    114
30    115
31    117
32    104
33    108
34    109
35    120
Name: CO2, dtype: int64

In [8]:
from sklearn import linear_model

# Fitting the data into model

In [6]:
regr=linear_model.LinearRegression()
regr.fit(x,y)

LinearRegression()

# Predict with custom input values

In [7]:
predicted=regr.predict([[2300,1300]])  #volume=2300 ,Weight=1300
print(predicted)

[107.46304306]

# Getting the coefficient values for volume and weight

In [9]:
print(regr.coef_)

[0.00780526 0.00755095]

In [10]:
#for increase in volume by 1 then there is an increase in CO2 emission by 0.00780526
#thus testing it by adding volume by 1000 
predicted=regr.predict([[3300,1300]])  #volume=3300 ,Weight=1300
print(predicted)

[115.26830058]